/* .hover-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: 10;
    padding: 20px;
}

.card:hover .hover-slide {
    transform: translateY(0);
} */

.custom-header {
    background-image: url('../images/image1.jpeg');
    /* <-- بدل هاد الصورة بالاسم الصحيح */
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

.custom-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* تخفيف اللون باش تبان الكتابة */
    z-index: 1;
}

.custom-header .container {
    position: relative;
    z-index: 2;
}

.custom-header {
    background-image: url('../images/image5.jpeg');
    /* ✅ تأكد من اسم الصورة والمسار */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    /* ✅ نقص الطول */
    position: relative;
}

.custom-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* ظل داكن فوق الصورة */
    z-index: 1;
}

.custom-header .container {
    position: relative;
    z-index: 2;
}


/* تكبير النص داخل الهيدر */

.custom-header h1 {
    font-size: 4rem;
    font-weight: bold;
}

.custom-header p {
    font-size: 1.5rem;
}